torch==1.5.0
transformers==3.4.0
sentencepiece==0.1.94
tqdm
pytorch_lightning
emoji
pythainlp==2.2.4
datasets==1.1.2
pandas==1.1.4
swifter==1.0.7
tensorboard==2.3.0
pydantic==1.7.3
jsonlines==1.2.0
nltk==3.4.5
tensorflow>=2.0.0
git+git://github.com/huggingface/datasets.git@686717b3cc56dcf830106f0e231bb22406b86156
sefr_cut==0.2
datasets==1.2.0
ssg==0.0.6
tokenizers==0.9.4
