torch==1.10.0
transformers==4.13.0
datasets==1.16.1
tokenizers==0.10.1
sentencepiece==0.1.96
sacrebleu==2.0.0
seqeval==1.2.2
pythainlp==2.3.2
sefr_cut==0.2
emoji==1.1.2
tensorboard==2.7.0
tqdm==4.62.3
pandas==1.3.5
